# .env_example
VAULT_PATH="/your/path/to/notes"
CHUNK_SIZE=500
CHUNK_OVERLAP=100
OLLAMA_URL="http://localhost:11434/api/embeddings"
MODEL="nomic-embed-text"
CHROMA_PATH="/your/path/to/chroma_db"
# Путь до заметок обсидиан
PROJECT_PATH=/home/alex/it/ai_obsidian
# путь до витруального окружения python (команда which python)
PYTHON_PATH=.venv/bin/python